.navbar {
  background-color: #334155;
  padding: 10px 0;
  font-size: 24px;
}

.navbar-size {
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-item {
  margin-right: 20px;
}

.nav-icon {
  width: 36px;
  height: 36px;
}

.nav-link {
  text-decoration: none;
  color: #d2d2d2;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffffff;
}
