.footer-background {
  background-color: #f8f8f8;
  margin-top: auto;
}

.footer-container {
  display: flex;
  flex-direction: row;
  margin: 24px auto;

  max-width: 1200px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding-left: 36px;
}

.footer-header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.footer-logo {
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

.footer-mid {
  display: flex;
  flex-direction: column;
  width: 460px;
  padding-left: 42px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding-left: 22px;
}

li {
  list-style-type: none;
    margin-bottom: 4px;
}

.footer-link {
  text-decoration: none;
  color: #00171f;
  font-size: 18px;
  font-weight: 600;
}

.footer-link:hover {
  color: #4035df;
}
