.find-pet-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pet-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pet-listing-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 48px;
}

.pet-listing-header {
  font-size: 36px;
  margin-bottom: 4px;
  grid-column: 1/4;
  color: black;
}

.pet-listing-text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
}
